@tailwind base;
@tailwind components;
@tailwind utilities;

.noscrollbar {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.noscrollbar::-webkit-scrollbar {
  display: none;
}

/* Custom scrollbar style */
.custom-scrollbar {
  scrollbar-width: thin; 
  scrollbar-color: #f43f5e transparent; 
}

.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #df6479;
  border-radius: 10px;
}
/* input */
.custom-input {
  width: 100%;
  padding-left: 3rem;        
  padding-right: 1rem;       
  padding-top: 0.75rem;       
  padding-bottom: 0.75rem;
  border-radius: 0.75rem;     
  border: 1px solid #fecdd3; 
  background-color: rgba(255, 228, 230, 0.5);
  color: #1f2937;            
  outline: none;
  transition: all 0.3s ease; 
}

.custom-input:focus {
  background-color: #ffffff;  
  border-color: transparent; 
  box-shadow: 0 0 0 1px #f43f5e; 
}

label {
  display: block;       
  margin-bottom: 8px;    
  font-size: 0.875rem;     
  font-weight: 600;          
  color: #374151;         
}
.slide-enter {
  transform: translateX(100%);
  opacity: 0;
}

.slide-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 600ms ease-in-out;
}

.slide-exit {
  transform: translateX(0);
  opacity: 1;
}

.slide-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 600ms ease-in-out;
}


.auth-container {
  perspective: 1000px;
}

.auth-form {
  transform-style: preserve-3d;
  backface-visibility: hidden;
}
